// .head {
//     min-height: 21vh !important;
// }
.head-image {
    background-size: contain;
    width: 180px;
    align-self: center;
}
.small {
    font-size: 15px;
}
.white {
    color: white;
}
// .input {
//     background-color: rgb(240, 240, 240);
//     border: 1px solid rgb(210, 210, 210);
//     border-radius: 9px;
//     font-size: .9em !important;
// }
.title {
    font-size: 18px;
}
.card{
    padding: 20px 0;
    box-shadow: 1px 2px 7px 2px #e8e6e6;
    border-radius: 8px;
}
.input {
   background-color: #ffffff;
    border-bottom: 0px solid #d2d2d2;
    border-radius: 0;
    font-size: .9em !important;
}
.btn-round{
    background: var(--ion-color-bg);
    color: white;
    width: 80%;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto;
}
ion-item {
 --highlight-background: var(--ion-color-bg);
}