<ion-header class="ion-no-padding" color="mytheme" class="mybg head">
  <!-- <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
          <ion-back-button icon="arrow-back" defaultHref="/storeview" color="light"></ion-back-button>
        </ion-buttons>
      </ion-toolbar> -->
  <!-- <ion-row justify-content-center>
      <ion-img src="assets/images/login.png" class="head-image"></ion-img>
    </ion-row> -->
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start" color="light">
      <ion-back-button mode="md" icon="arrow-back" defaultHref="/tabs/login"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3 no-margin margin-bottom text-center class="title">Forgot your password?</h3>
  </ion-text>
  <ion-grid>
    <form [formGroup]="forgotPassForm" (ngSubmit)="sendRequest()">
    <div class="card ion-padding">
      <ion-row class="ion-padding-horizontal">
        <ion-col>
          <ion-label>
            <ion-text class="small" style="padding-bottom: 10px;display: block;">Type your email address</ion-text>
          </ion-label>
          <ion-item>
            <ion-input clearInput type="email" placeholder="Email" formControlName="user_email" name="user_email" class="input"
              ion-padding-horizontal>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" class="ion-margin-vertical" style="height: 50px;" type="submit" [disabled]="!forgotPassForm.valid" color="mytheme">
          <strong class="white">Send</strong>
        </ion-button>
       <!--  <ion-button expand="block" shape="round" class="ion-margin-vertical" style="height: 50px;" type="submit" [disabled]="!forgotPassForm.valid" color="mytheme"
          (click)="presentAlertConfirm()">
          <strong class="white">Send</strong>
        </ion-button> -->
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>