<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-title style="text-align: center;" color="light">Review</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only" class="white" margin></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
	<form [formGroup]="reviewForm" (ngSubmit)="doreview()">
	  <!-- Advanced: explicity set the icon for each platform -->
	  <ion-item>
	  	<ion-row style="width: 100%;">
	  		<!-- <ion-col size="1">
        		<ion-icon ios="ios-remove" md="md-remove" (click)="clearrate()"></ion-icon>
      		</ion-col> -->
      		<ion-col size="7">
      			<ionic4-star-rating style="text-align: left;" #rating
				      activeIcon = "ios-star"
				      defaultIcon = "ios-star-outline"
				      activeColor = "#ffce00" 
				      defaultColor = "#ffce00"
				      readonly="false"
				      fontSize = "20px"
				      rating="{{rate}}"
				      (ratingChanged)="logRatingChange($event)"
				      formControlName="starRating"
				      >
				</ionic4-star-rating>
      		</ion-col>
      		<ion-col size="5">
      			{{rateText}}
      		</ion-col>
	  	</ion-row>
	  </ion-item>
  
	<ion-list class="card1">
		<ion-item >
		  <ion-label position="floating">Comment</ion-label>
		  <ion-textarea clearOnEdit="true" formControlName="comment" [value]="comment"></ion-textarea>
		</ion-item>
	</ion-list>
	
	<ion-button *ngIf="rate==''" color="mytheme" type="submit" [disabled]="!reviewForm.valid">Add</ion-button>
	</form>
</ion-content>
