
ion-card{
    
    img{
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 50px;
        margin: 0 auto;
    }
}
.bgmh{
    height: 160px;
    --ion-background-color: url("../../assets/images/bluebg.png");
    background-attachment: fixed
    ;
    background-size: cover;
}
.prf-img{
    height: 100px;
    border: 2px solid white;
    border-radius: 25px;
    margin: 20px 20px 0;
}
.prf-name{
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-left: 10px;;
}
.edit{
    font-size: large;
    margin-right: 5%;
    border: 1px solid;
    color: white;
}
.det{
    margin-left: 15px;
    font-weight: 700;
    font-size: 17px;
}
.head-bak{
    background: var(--ion-color-bg);
    color: white;
}
.card{
    box-shadow: 1px 2px 7px 2px #e8e6e6;
    border-radius: 8px;
    margin: 10px;
    padding: 5px 5px 5px 0px;
}
.mm{
    font-size: 17px;
    font-weight: 700;
}