<ion-content color="primary">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="gift"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            <ion-select value="english" cancelText="Dismiss">
                <ion-select-option value="english">English</ion-select-option>
                <ion-select-option value="arabic">Arabic</ion-select-option>
                <ion-select-option value="kurdish">Kurdish </ion-select-option>
            </ion-select>
        </ion-title>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <div class="sk-p-20">
            <ion-searchbar placeholder="What do you need?"></ion-searchbar>
        </div>
    </ion-toolbar>



<ul class="circle-container">
        <li>
            <div class="sk-wrapper">
                <img src="assets/icon/party.png" />
                <p>Party</p>
            </div>
        </li>
        <li>
            <div class="sk-wrapper">
                <img src="assets/icon/trophy.png" />
                <p>Champions<br/>Night</p>
            </div>
        </li>
        <li>
            <div class="sk-wrapper">
                <img src="assets/icon/delivery.png" />
                <p>Express<br/>Delivery</p>
            </div>
        </li>
        <li>
            <div class="sk-wrapper">
                <img src="assets/icon/emergency.png" />
                <p>Emergency</p>
            </div>
        </li>
        <li>
            <div class="sk-wrapper">
                <img src="assets/icon/shop.png" />
                <p>Shop</p>
            </div>
        </li>
        <li>
            <div class="sk-wrapper">
                <img src="http://lorempixel.com/100/100/city" />
                <p>Some 6</p>
            </div>
        </li>
        <li>
            <div class="sk-wrapper">
                <img src="assets/icon/food.png" />
                <p>Food</p>
            </div>
        </li>
        <li>
            <div class="sk-wrapper">
                <img src="assets/icon/market.png" />
                <p>Super<br/>Market</p>
            </div>
        </li>
        <li>
            <div class="sk-wrapper2">
                <img src="assets/icon/anything.png" />
                <p>Anything</p>
            </div>
        </li>
        
    </ul>
</ion-content>
